@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SonOfCodSeafood.Models.Post

<div class="container">
    <h2>Delete: @Html.DisplayFor(model => model.Title)</h2>
    <hr />
    @using (Html.BeginForm())
    {
        <input type="submit" value="Delete" class="btn btn-danger"/>
    }
    <br />
    <h4>@Html.ActionLink("Back to List", "Index")</h4>
</div>
